.taskContainer {
  max-width: 1170px;
  justify-content: space-between;
  margin: auto;
  display: flex;
}

.doneItem,
.inProgress,
.makeToDo{
  color: #4c4444;
  background-color: #fbdab95b;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px #0006;
}

.makeTodo-container,
.inProgress-container,
.done-container {
  width: calc(33.33% - 10px);
  padding: 0 15px;
}